<div class="container-fluid" id="resources_container">
    <div ng-repeat="api in metadata.apis" class="row-fuild">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li>
                        <a class="api-head" ng-click="toggleOperations(api)">{{api.path}}</a></>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li ng-class="{'active': !api.collapse}">
                        <a href="#" ng-click="api.collapse = !api.collapse">
                            <i ng-class="{'icon-folder-open': !api.collapse, 'icon-folder-close': api.collapse}"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="listAll(api)">
                            <i class="icon-th-list"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="expandAll(api)">
                            <i ng-class="{'icon-chevron-down': api.expandAll, 'icon-chevron-up': !api.expandAll}"></i>
                        </a>
                    </li>
                    <li>
                        <a ng-href="{{api.resource.basePath}}{{api.resource.resourcePath}}" target="_blank">
                            <i class="icon-fullscreen"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div collapse="api.collapse">
            <div ng-repeat="rapi in api.resource.apis" class="api-container">
                <div class="row-fluid" ng-repeat="op in rapi.operations" style="margin-bottom: 10px;">
                    <a ng-click="op.open = !op.open" href="#">
                        <div class="api api-{{resourceClass[op.httpMethod]}}">
                            <div class="title">{{op.httpMethod}}</div>
                            <div class="toolbar">
                                <span style="padding-left: 15px; font-size: 1.5em;">{{rapi.path}}</span>
                            </div>
                            <div class="description">{{api.description}}</div>
                        </div>
                    </a>
                    <div collapse="!op.open">
                        <div class="row-fluid well">
                            <div class="span6">
                                <div class="row-fluid">
                                    <form class="media-body" name="restModel" ng-init="query = {}; parameters = {}">
                                        <div class="row-fluid">
                                            <b>Query Parameters</b>
                                        </div>
                                        <hr>
                                        <table class="table table-condensed table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Required</th>
                                                    <th>Value</th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="parameter in op.queryParameters">
                                                <td>{{parameter.name}}</td>
                                                <td>{{parameter.dataType}}</td>
                                                <td>{{parameter.required}}</td>
                                                <td>
                                                    <input type="text" ng-model="query[parameter.name]" ng-required="prop.required" />
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="row-fluid">
                                            <b>Body Parameters</b>
                                        </div>
                                        <hr>
                                        <div class="row-fluid" ng-repeat="parameter in op.parameters">
                                            <table class="table table-condensed table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Type</th>
                                                        <th>Required</th>
                                                        <th>Value</th>
                                                    </tr>
                                                </thead>
                                                <tr ng-show="parameter.name">
                                                    <td>{{parameter.name}}</td>
                                                    <td>{{parameter.dataType}}</td>
                                                    <td>{{parameter.required}}</td>
                                                    <td>
                                                        <input type="text" ng-model="parameters[parameter.name]" ng-required="prop.required" />
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="(key, prop) in api.resource.models[parameter.dataType].properties">
                                                    <td>{{key}}</td>
                                                    <td>{{(prop.items && prop.items.type) && prop.items.type + '[]' || prop.type}}</td>
                                                    <td>{{prop.required}}</td>
                                                    <td>
                                                        <input type="text" ng-model="parameters[key]" ng-required="prop.required" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="form-actions">
                                            <button type="submit" class="btn btn-primary" ng-click="submitModel(rapi.pathFn, op.httpMethod, parameters, query, op)">Submit</button>
                                        </div>
                                        <pre lang="javascript">{{op.results}}</pre>
                                    </form>
                                </div>
                            </div>

                            <div class="span6">
                                <div class="row-fluid">
                                    <b>Parameters</b>
                                </div>
                                <hr>
                                <div class="media row-fluid" ng-repeat="parameter in op.parameters">
                                    <div class="media-body">
                                        <table class="table table-rows">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Required</th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="(key, prop) in api.resource.models[parameter.dataType].properties">
                                                <td>{{key}}</td>
                                                <td>{{(prop.items && prop.items.type) && prop.items.type + '[]' || prop.type}}</td>
                                                <td>{{prop.required}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<hr />
</div>
</div>
