<div id="resources_container">
    <div ng-repeat="api in metadata.apis" class="row-fuild">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li>
                        <a class="api-head" ng-click="toggleOperations(api)">{{api.path}}</a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li ng-class="{'active': !api.collapse}">
                        <a href="#" ng-click="api.collapse = !api.collapse">
                            <i ng-class="{'icon-folder-open': !api.collapse, 'icon-folder-close': api.collapse}"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="listAll(api)">
                            <i class="icon-th-list"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" ng-click="expandAll(api)">
                            <i ng-class="{'icon-chevron-down': api.expandAll, 'icon-chevron-up': !api.expandAll}"></i>
                        </a>
                    </li>
                    <li>
                        <a ng-href="{{api.resource.basePath}}{{api.resource.resourcePath}}" target="_blank">
                            <i class="icon-fullscreen"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div collapse="api.collapse">
            <div ng-repeat="rapi in api.resource.apis" class="api-container">
                <div ng-repeat="op in rapi.operations" style="margin-bottom: 10px;">
                    <div class="row-fluid">
                        <a ng-click="op.open = !op.open" href="#">
                            <div class="api api-{{resourceClass[op.httpMethod]}}">
                                <div class="title">{{op.httpMethod}}</div>
                                <div class="toolbar">
                                    <span class="path">{{rapi.path}}</span>
                                    <span class="description pull-right">{{api.description}}</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div collapse="!op.open" ng-class="{'well': op.open}">
                        <div class="row-fluid">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" data-target="#{{op.$$hashKey}}-parameters">Parameters</a></li>
                                <li><a data-toggle="tab" data-target="#{{op.$$hashKey}}-model">Model</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="{{op.$$hashKey}}-parameters">
                                    <div>
                                        <form class="form-horizontal" name="restModel" ng-init="query = {}; parameters = {}">
                                            <fieldset ng-show="op.queryParameters && op.queryParameters.length > 0">
                                                <legend>Query Parameters</legend>
                                                <div ng-repeat="parameter in op.queryParameters">
                                                    <div class="control-group">
                                                        <div class="control-label">
                                                            <label>{{parameter.name}}</label>
                                                        </div>
                                                        <div class="controls">
                                                            <input type="text" ng-model="query[parameter.name]"
                                                                ng-required="prop.required" placeholder="{{parameter.dataType}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset ng-show="op.parameters && op.parameters.length > 0">
                                                <legend>Body Parameters</legend>
                                                <div ng-repeat="parameter in op.parameters">
                                                    <div class="control-group" ng-repeat="(key, prop) in api.resource.models[parameter.dataType].properties">
                                                        <div class="control-label">
                                                            <label>{{key}}</label>
                                                        </div>
                                                        <div class="controls">
                                                            <input type="text" ng-model="parameters[key]" ng-required="prop.required"
                                                                placeholder="{{(prop.items && prop.items.type) && prop.items.type + '[]' || prop.type}}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div class="form-actions">
                                                <button type="submit" class="btn btn-primary"
                                                    ng-click="submitModel(rapi.pathFn, op.httpMethod, parameters, query, op)">
                                                    Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane" id="{{op.$$hashKey}}-model">
                                    <fieldset>
                                        <legend>Response Model</legend>
                                        <div class="row-fluid" ng-show="api.resource.models[op.responseClass]">
                                            <dl ng-repeat="(key, prop) in api.resource.models[op.responseClass].properties" class="dl-horizontal">
                                                <dt>{{key}}</dt>
                                                <dd>
                                                    <span>{{(prop.items && prop.items.type) && prop.items.type + '[]' || prop.type}}</span>
                                                    <span class="text-warning" ng-show="prop.required">required</span>
                                                </dd>
                                            </dl>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                        <div class="row-fluid" ng-show="op.request">
                            <h3>Request Url: </h3>
                            <div class="alert alert-info">{{op.request.url}}</div>
                        </div>

                        <div class="row-fluid" ng-show="op.request">
                            <h3>Request Headers: </h3>
                            <div class="alert alert-info">
                                <p ng-repeat="(key, prop) in op.request.headers" ng-show="prop">
                                    <b>{{key}}</b>
                                    <span>{{prop}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="row-fluid" ng-show="op.response.headers">
                            <h3>Response Headers: </h3>
                            <div class="alert alert-success">
                                <p ng-repeat="(key, prop) in op.response.headers">
                                    <b>{{key}}</b>
                                    <span>{{prop}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="row-fluid" ng-show="op.response.data">
                            <h3>Response Data: </h3>
                            <div class="alert alert-success" ng-repeat="data in op.response.data.results">
                                <p ng-repeat="(key, prop) in data">
                                    <b>{{key}}</b>
                                    <span>{{prop}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="row-fluid" ng-show="op.response.error.headers">
                            <h3>Response Error Headers: </h3>
                            <div class="alert alert-warning">
                                <p ng-repeat="(key, prop) in op.response.error.headers">
                                    <b>{{key}}</b>
                                    <span>{{prop}}</span>
                                </p>
                            </div>
                        </div>

                        <div class="row-fluid" ng-show="op.response.error.data">
                            <h3>Response Error Data: </h3>
                            <div class="alert alert-error">
                                <span>{{op.response.error.data}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>
